<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISTEL - INSTITUTO SUPERIOR DE TEOLOGIA EVANGELICA NO LUBANGO</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
   

  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Escreva e pesquise enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      <div class="probootstrap-header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
              <span><i class="icon-location2"></i>Av. Comandante Cowboy, Lubango, Huila-Angola</span>
              <span><i class="icon-phone2"></i>+244 261 254 540</span>
              <span><i class="icon-mail"></i>info@istel.com</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
              <ul>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                <li><a href="#"><i class="icon-youtube"></i></a></li>
                <li><a href="#" class="probootstrap-search-icon js-probootstrap-search"><i class="icon-search"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="btn-more js-btn-more visible-xs">
              <a href="#"><i class="icon-dots-three-vertical "></i></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home" title="uiCookies:Enlight">Enlight</a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="/cursos">Cursos</a></li>
              <li><a href="/eventos">Eventos</a></li>              
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Quem Somos</a>
                <ul class="dropdown-menu">    
                  <li><a href="/quem_somos">Sobre Nós</a></li>
                  <li><a href="/historia">História</a></li>
                  <li><a href="/que_istel">O ISTEL</a></li>
                  <li><a href="/professors">Professores</a></li>                 
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Mais</a>
                <ul class="dropdown-menu">             
                  <li><a href="/galeria">Galeria</a></li>    
                  <li><a href="/noticia">Notícias</a></li>
                </ul>
              </li>
              <li><a href="/contacto">Contactos</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <%= yield %>

      <% if controller_name != "contactos" %>
          <section class="probootstrap-cta">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="probootstrap-animate" data-animate-effect="fadeInRight">Entre em contacto conosco!</h2>
                <a href="/contacto" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft">Contacte-nos</a>
              </div>
            </div>
          </div>
        </section>			
			<% end %>				 
      
      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Sobre O Instituto</h3>
                <p style="text-align: justify; margin: 0cm 0cm 0pt">A principal tarefa do ISTEL é oferecer formação teológica visando formar líderes para a igreja, quer sejam leigos/profissionais ou ordenados.</p>
                <h3>Redes Sociais</h3>
                <ul class="probootstrap-footer-social">
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-facebook"></i></a></li>                 
                  <li><a href="#"><i class="icon-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-md-push-1">
              <div class="probootstrap-footer-widget">
                <h3>Links</h3>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Cursos</a></li>
                  <li><a href="#">Professores</a></li>
                  <li><a href="#">Notícias</a></li>
                  <li><a href="#">Contactos</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Endereço</h3>
                <ul class="probootstrap-contact-info">
                    <span><i class="icon-location2"></i>Av. Comandante Cowboy, Lubango, Huila-Angola</span></br>
                    <span><i class="icon-phone2"></i>+244 261 254 540</span></br>
                    <span><i class="icon-mail"></i>info@istel.com</span>
                </ul>
              </div>
            </div>
           
          </div>
          <!-- END row -->
          
        </div>

        <div class="probootstrap-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <p>&copy; 2017 <a href="https://uicookies.com/">ISTEL</a>. Todos direitos reservados. Desenvolvido por <a href="https://24planos.com/">24Planos.com</a></p>
              </div>
              <div class="col-md-4 probootstrap-back-to-top">
                <p><a href="#" class="js-backtotop">Voltar ao topo! <i class="icon-arrow-long-up"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- END wrapper -->
    

  
    <script src="<%= asset_path("scripts.min.js")%>"></script>
    <script src="<%= asset_path("main.min.js")%>"></script>
    <script src="<%= asset_path("custom.js")%>"></script>
  </body>
</html>